{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt install -y  <<EOF
{{ range .packages.linux.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}
{{ range .packages.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
