atom-workspace {
  font-family: Inter Medium;
}
@font-size: 13px;
html, body, .tree-view, .tab-bar .tab {
  font-size: @font-size;
}
// Chrome style tabs
.tab-bar {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}
.tab-bar .tab {
  min-width: 150px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab-bar .tab .title {
  flex: 1 1 16px;
  text-overflow: ellipsis;
  text-align: center;
}
.tab-bar .tab .close-icon {
  position: right;
}
.tab-bar .tab.active {
  flex: 1;
  width: initial;
}
.tab-bar .tab.active:hover .close-icon {
  position: right;
}
